{#<!-- /index.html -->#}

{% extends "base_generic.html" %}

{% block content %}
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="{% url 'MainApp:index' %}">Home</a></li>
        <li role="presentation"><a href="{% url 'MainApp:profile' %}">Profile</a></li>
        <li role="presentation"><a href="{% url 'MainApp:favorites' %}">Favorites</a></li>
        <li role="presentation"><a href="{% url 'Authentication:login' %}">Logout</a></li>
    </ul>
    <div class="container">
        <form method="post" action="{% url 'MainApp:find-jobs' %}" id="jobSearchForm">
            {% csrf_token %}
            <label for="job-sites">Choose job sites:</label>

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="job_sites" id="indeedCheckbox" value="indeed" aria-label="Indeed"
                        >
                    </span>
                        <input type="text" class="form-control" aria-label="Indeed" value="Indeed" readonly>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->

                <div class="col-lg-6">
                    <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="job_sites" id="glassdoorCheckbox" value="glassdoor"
                               aria-label="Glassdoor"
                        >
                    </span>
                        <input type="text" class="form-control" aria-label="Glassdoor" value="Glassdoor" readonly>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->

                <div class="col-lg-6">
                    <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="job_sites" id="zipRecruiterCheckbox" value="zip_recruiter"
                               aria-label="ZipRecruiter">
                    </span>
                        <input type="text" class="form-control" aria-label="ZipRecruiter"
                               value="ZipRecruiter(US/Canada)"
                               readonly>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->

                <div class="col-lg-6">
                    <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="job_sites" id="linkedinCheckbox" value="linkedin"
                               aria-label="LinkedIn"
                        >
                    </span>
                        <input type="text" class="form-control" aria-label="LinkedIn" value="LinkedIn" readonly>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>

            <div>
                <label for="country" id="countryLabel">Select your country:</label>
                <select id="country" name="country" required>
                    {% for country in countries %}
                        <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>
                (* indicates support for Glassdoor)
            </div>

            <div>
                <label for="address">Input your address:</label>
                <input type="text" id="address" name="address" placeholder="Enter your address" required>
            </div>
            <button type="submit" id="findJobsButton">Find Jobs</button>

        </form>
    </div>
    <script>
        document.getElementById('jobSearchForm').addEventListener('submit', function (event) {
            // 检查是否至少选择了一个站点
            var checkboxes = document.querySelectorAll('input[name="job_sites"]:checked');
            if (checkboxes.length === 0) {
                alert('Please select at least one job site.');
                event.preventDefault(); // 阻止表单提交
            }

            // 其他验证可以在这里添加
        });
        var countries = {{ countries | safe }};

        function updateCountryOptions() {
            var countrySelect = document.getElementById('country');
            var zipRecruiterChecked = document.getElementById('zipRecruiterCheckbox').checked;
            var glassdoorChecked = document.getElementById('glassdoorCheckbox').checked;

            // 清除当前的选项
            while (countrySelect.options.length > 0) {
                countrySelect.remove(0);
            }

            // 如果ZipRecruiter被选中
            if (zipRecruiterChecked) {
                countrySelect.add(new Option('US/CA', 'US/CA'));
                countrySelect.value = 'US/CA';
            } else {
                // 如果Glassdoor被选中，只显示带星号的国家选项
                if (glassdoorChecked) {
                    for (var country of countries) {
                        if (country.includes('*')) {
                            countrySelect.add(new Option(country, country));
                        }
                    }
                } else {
                    // 添加所有国家选项
                    for (var country of countries) {
                        countrySelect.add(new Option(country, country));
                    }
                }

            }
        }

        // 为复选框绑定事件
        document.getElementById('zipRecruiterCheckbox').addEventListener('change', updateCountryOptions);
        document.getElementById('glassdoorCheckbox').addEventListener('change', updateCountryOptions);
        document.getElementById('indeedCCheckbox').addEventListener('change', updateCountryOptions);
        document.getElementById('linkedinCheckbox').addEventListener('change', updateCountryOptions);

        // 页面加载时调用函数以设置初始状态
        document.addEventListener('DOMContentLoaded', updateCountryOptions);
    </script>

{% endblock %}

