<!-- /login.html -->

{% extends "base_generic.html" %}

{% block content %}
<div class="base_container">
    <form method="post">
        {% csrf_token %}
        <h2>Login to CJob</h2>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <a href="{% url 'Authentication:password_reset' %}">Forgot password?</a>
        <input type="submit" value="Sign In">
        <a href="{% url 'Authentication:register' %}">Don't have an account? Register</a>
    </form>
</div>
{% endblock %}
