<!--/login.html -->

{% extends "base_generic.html" %}

{% block content %}
<div class="login-container">
    <form method="post">
        {% csrf_token %}
        <h2>login to CJob</h2>
        <input type="text" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <a href="{% url 'password_reset' %}">forget password?</a>
        <input type="submit" value="sign in">
        <a href="{% url 'register' %}">don't have an account? register</a>
    </form>
</div>
{% endblock %}
