<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email</title>
</head>
<body>
    <p>Hello {{ user.username }},</p>
    <p>You requested a password reset for your account. Please click the link below to reset your password:</p>
    <a href="{{ reset_link }}">{{ reset_link }}</a>
    <p>If you didn't request a password reset, please ignore this email.</p>
    <p>Regards,<br>CJob Team</p>
</body>
</html>
