{% extends "base_generic.html" %}

{% block content %}
    <div class="base_container">
        <h2>Reset Password</h2>
        <form method="post">
            {% csrf_token %}
            <label for="id_new_password">New Password:</label><br>
            <input type="password" id="id_new_password" name="new_password"><br>
            <label for="id_confirm_password">Confirm Password:</label><br>
            <input type="password" id="id_confirm_password" name="confirm_password"><br>
            <button type="submit">Reset Password</button>
        </form>
    </div>

{% endblock %}

