{#<!-- /profile.html -->#}
{% extends "base_generic.html" %}

{% block content %}
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="{% url 'MainApp:index' %}">Home</a></li>
        <li role="presentation" class="active"><a href="{% url 'MainApp:profile' %}">Profile</a></li>
        <li role="presentation"><a href="{% url 'MainApp:favorites' %}">Favorites</a></li>
        <li role="presentation"><a href="{% url 'Authentication:login' %}">Logout</a></li>
    </ul>

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-section">
                <h2>Study</h2>
                {{ study_form.as_p }}
            </div>

            <div class="form-section">
                <h2>Experience</h2>
                {{ experience_form.management_form }}
                <div id="experience-form-list">
                    {% for form in experience_form %}
                        <div class="form-group-border">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-section">
                <h2>CV</h2>
                {{ cv_form.as_p }}
            </div>


            <div class="form-section">
                <h2>Preference</h2>
                {{ preference_form.management_form }}
                <div id="preference-form-list">
                    {% for form in preference_form %}
                        <div class="form-group-border">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <button type="submit">Save Profile</button>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $('#id_school').autocomplete({
                source: '{% url 'MainApp:get-schools' %}',
                minLength: 2,
                open: function () {
                    setTimeout(function () {
                        $('.ui-autocomplete').off('menufocus hover mouseover mouseenter');
                    }, 0);
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li class='dropdown-item'></li>")
                    .append("<div>" + item.label + "</div>")
                    .appendTo(ul);
            };
        });
        $(document).ready(function () {
            $('.preference-autocomplete').autocomplete({
                source: '{% url 'MainApp:get-jobs' %}',
                minLength: 2,
                open: function () {
                    setTimeout(function () {
                        $('.ui-autocomplete').off('menufocus hover mouseover mouseenter');
                    }, 0);
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li class='dropdown-item'></li>")
                    .append("<div>" + item.label + "</div>")
                    .appendTo(ul);
            };
        });
    </script>


{% endblock %}