{% extends "base_generic.html" %}

{% block content %}
    <a href="{% url 'MainApp:index' %}" class="back-button">Back to Main Page</a>
    {% if jobs %}
        <table id="jobs-table" class="jobs-table">
            <thead>
            <tr>
                <th>Site</th>
                <th>Job Title</th>
                <th>Location</th>
                <th>Is_Remote</th>
                <th>Favourite</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.site }}</td>
                    <td><a href="{{ job.job_url }}">{{ job.title }}</a></td>
                    <td>{{ job.location }}</td>
                    <td>{{ job.is_remote }}</td>
                    <td>
                        <button class="favorite-btn{% if job.is_favorited_by_user %} favorited{% endif %}" data-job-url="{{ job.job_url }}" data-title="{{ job.title }}"
                                data-location="{{ job.location }}" data-is-remote="{{ job.is_remote }}">
                            {% if job.is_favorited_by_user %}Unfavorite{% else %}Favorite{% endif %}
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No jobs to display.</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script>
        $(document).ready(function () {
            $('#jobs-table').DataTable();
            $('.favorite-btn').click(function () {
                var btn = $(this);
                var jobUrl = btn.data('job-url');
                var title = btn.data('title');
                var location = btn.data('location');
                var isRemote = btn.data('is-remote');
                var isFavorited = btn.hasClass('favorited');
                $.ajax({
                    type: 'POST',
                    url: '{% url 'MainApp:favorite-job' %}',
                    data: {
                        'job_url': jobUrl,
                        'title': title,
                        'location': location,
                        'is_remote': isRemote,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'is_favorited': isFavorited
                    },
                    success: function (data) {
                        if (isFavorited) {
                            btn.removeClass('favorited').text('Favorite');
                        } else {
                            btn.addClass('favorited').text('Unfavorite');
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error: ' + errorThrown);
                    }
                });
            });
        });
    </script>
{% endblock %}
